@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tarık Bilgin Demirci</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">My First MVC Web Application</a>.</p>
</div>
